*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    height:auto;
}
body{
    background-color: rgb(0, 0, 33);
    color: white;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background: rgb(18, 18, 62);
}

nav ul {
    display: flex;
    justify-content: center;
}
nav ul li {
    list-style: none;
    margin: 0 23px;
}
nav ul li a {
    display: flex;
    text-decoration: none;
    color: white;
}
nav ul li a:hover {
    color:rgb(170, 107, 228);
    font-size: 1.04rem;
}
.left{
    font-size: 1.5rem;
}
.firstSection{
    display: flex;
    justify-content: space-around;
    margin: 80px 0;
}
.firstSection > div {
    width: 30%;
}
.leftSection{
    /* background: red; */
    font-size: 2.5rem;
    margin: 70px 0;
}
.leftSection .buttons {
    padding: 50px 0 ;
}

.leftSection .btn {
    padding: 12px;
    background-color: rgb(18, 18, 62);
    color:white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
}
.leftSection a {
    color: white;
    text-decoration: none;
}
.leftSection a:hover{
    color:rgb(170, 107, 228);
}

.rightSection img{
    /* background: red; */
    width: 80%;
}
.purple{
    color: rgb(170, 107, 228);
}
#element{
    color:rgb(170, 107, 228) ;
}

.secondSection{
    max-width: 80vw;
    margin: auto;
    padding: 50px 0;
    /* height: 80vh; */
    height: auto;
}
hr{
    border: 0;
    background-color: #9c97f1;
    height: 1.2px;
    margin: 60px 80px;
}
.secondSection h1{
    font-size: 1.9rem;
    padding-bottom: 30px;
}
.text-grey{
    color: grey;
    /* padding: 25px 0; */
}

.edu h3{
    padding-bottom:10px;
}

footer{
    background:rgb(18, 18, 62) ;
    /* height: 233px; */
}
.footer{
    display:flex;
    padding: 23px 122px ;
    justify-content: space-evenly;
}
.footer ul  {
    list-style: none;
}
.footer ul a {
    color: white;
    text-decoration: none;
}
footer .footer-rights{
    text-align: center;
    color: grey;
    padding: 12px ;
}



@media screen and (max-width: 1400px) {
    body{
        background-color: rgb(0, 0, 33);
    }
    .firstSection {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    nav{
        flex-direction: column;
        padding-bottom: 30px;
    }
    .left {
        padding-top: 35px;
    }
    nav .right li {
        font-size: larger;
        width: auto;
        padding-top: 20px;
    }
    .secondSection{
        /* width: 50vw;
        max-width: 80vw; */
        align-items: center;
        justify-content: center;
        /* margin: auto; */
        display: flex;
        flex-direction: column;
    }
    .leftSection {
        width:100% !important;
        display: flex;
        /* padding-left: 50px; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .rightSection{
        width: 700px !important;
        display: flex;
        justify-content: center ;
    }
    body{
        min-width: fit-content;
    }
    .footerThird{
        display: block;
        justify-content: center;
        margin: 0 10px;
    }
    .footerFourth{
        display: block;
        justify-content: center;
        margin: 0 20px;
    }
}
